
.active-menu-item-profile {
    z-index: 1;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .active-menu-item-profile::before,
  .active-menu-item-profile.active::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--primary-color);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .active-menu-item-profile:hover::before,
  .active-menu-item-profile.active::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
